@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #322a4f;
  font-family: "Poppins";
}

li,
a,
button {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #322a4f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
}

.logo {
  cursor: pointer;
}

.list {
  list-style: none;
}
.list li {
  padding: 0 10px;
  display: inline-block;
  margin: 10px;
}

/*hover nav under line */

.list a {
  position: relative;
}

.list a::after {
  content: "";
  position: absolute;
  background-color: #84d2c4;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease;
}
.list a:hover:after {
  width: 100%;
}
/*----------*/

.header-btn button {
  padding: 4px 10px;
  margin: 10px;
  font-size: 15px;

  border: 2px solid #322a4f;
  border-radius: 5px;
}
.signup {
  background: white;
  cursor: pointer;
  transition: 0.5s ease;
}

.signup:hover {
  box-shadow: 0 5px 10px rgba(50, 42, 79, 0.2);
}

.signin {
  background: #322a4f;
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
}

.signin:hover {
  box-shadow: 0 5px 10px rgba(50, 42, 79, 0.2);
}
.main-section {
  background-image: url("images/bg-image.svg");
  height: 88vh;
  background-repeat: no-repeat;
  background-position: right -20% top;
  background-size: 55%;
  padding: 0 8%;
}
.main-section .text-container {
  position: absolute;
  max-width: 25em;
  top: 30%;
  left: 15%;
}

.text-container h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 50px;
}
.text-container p {
  font-size: 1rem;
  padding-top: 30px;
  max-width: 20em;
}

.text-container .submit-btn {
  width: 180px;
  height: 45px;
  margin-top: 50px;
  border: none;
  background-color: #322a4f;
  color: white;
  box-shadow: 0 5px 10px rgba(50, 42, 79, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4f4572;
}
